/* ____________________________________________________________________________________________________ */
/* ●BODY COLOR */
/* ____________________________________________________________________________________________________ */
@font-face {
   font-family: myFirstFont;
   src: url(Andika-Regular.ttf);
}

/* THAI */

@font-face {
   font-family: toThai-Sarabun;
   src: url(Sarabun-Regular.ttf);
}

.letraSarabun{
	font-family: toThai-Sarabun;
	font-size: 25px;
}

td{
	width: 300px;
}

ruby {
  display: inline-flex;
  flex-direction: column-reverse;
}

rb, rt {
  display: inline;
  line-height: 1.6;
  font-size:15px;
  font-family: myFirstFont;
}

audio{
	width: 100px; 
	filter: sepia(100%) saturate(400%) grayscale(0) contrast(200%) hue-rotate(338deg) invert(90%);
}

body {
  background-color: #8CA8CD;
  font-family: myFirstFont;
  font-size: 16px;
}
/* ____________________________________________________________________________________________________ */
/* ●FILTRA BUSCA */
/* ____________________________________________________________________________________________________ */

.myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 50%;
  font-size: 20px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  border-radius: 50px / 15px;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}

li {
	display:inline-block;
}

.ordem{
	
	display: list-item;
	list-style-position: inside;
}


/* ____________________________________________________________________________________________________ */
/* ●Dimensões do iframe list-style-type: decimal; */ 
/* ____________________________________________________________________________________________________ */
.proportion {
      width:200px;
      height:420px;
	  resize: both;
	  border: none;
	  border-radius: 50px / 15px;
}

/* ____________________________________________________________________________________________________ */
/* ●Formata Letra */
/* ____________________________________________________________________________________________________ */
.letra{
		font-family: Tahoma;
		font-size: 20px;
}

.resizable-content {
  width:200px;
  height:300px;
  border:none;
}

.casa {
  font-size: 80px;
}

a{
	text-decoration: none;
	color: blue;
}

/* ____________________________________________________________________________________________________ */
/* ●SIDEBAR  */
/* ____________________________________________________________________________________________________ */

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

/* ____________________________________________________________________________________________________ */
/* ●Dimensões do iframe de proportion */
/* ____________________________________________________________________________________________________ */
.proportion1 {
      width:95%;
      height:15000px;
	  border-style: solid;
	  border-radius: 50px / 15px;
}

/* ____________________________________________________________________________________________________ */
/* ●Mostrar esconder os códigos */
/* ____________________________________________________________________________________________________ */

.collapsible {
  background-color: #282A36;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: black;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #282A36;
  color:white;
}

/* ____________________________________________________________________________________________________ */
/* BLOCO DAS DIVS */
/* ____________________________________________________________________________________________________ */


.container {
    
	background-color: white;
	width: auto;
	height: 460px;
	border-radius: 15px;
	border-style: solid;
	border-color: #6F7179;
    padding: 5px;

  }