@font-face {
   font-family: FontePrincipal;
   src: url(Andika-Regular.ttf);
}

html, body, .container {
  width: 100%;
  height: 100%;
  margin: 0px;
  font-family: FontePrincipal;
}

.container {
  /*padding:150px;*/
  background: white;
}

#navMenu {
  top: 20px;
  left: 20px;
  width: 140px;
  height: 140px;
  border-radius: 14px;
  z-index: 100;
  background: #EEAF28;
  -webkit-background: linear-gradient(90deg, #910EC9, #d350db, #910EC9);
  background-size: 400% 400%;
  -webkit-background-size: 400% 400%;
  animation: gradient 5s infinite;
  -webkit-animation: gradient 5s infinite;
}

#navMenu1 {
  top: 20px;
  left: 220px;
  width: 140px;
  height: 140px;
  z-index: 100;
  background: #EEAF28;
  -webkit-background: linear-gradient(90deg, #910EC9, #d350db, #910EC9);
  background-size: 400% 400%;
  -webkit-background-size: 400% 400%;
  animation: gradient 5s infinite;
  -webkit-animation: gradient 5s infinite;
}

#navMenu2 {
  top: 20px;
  left: 420px;
  width: 140px;
  height: 140px;
  z-index: 100;
  background: #E3CE75;
  -webkit-background: linear-gradient(90deg, #910EC9, #d350db, #910EC9);
  background-size: 400% 400%;
  -webkit-background-size: 400% 400%;
  animation: gradient 5s infinite;
  -webkit-animation: gradient 5s infinite;
}

@keyframes gradient {
  50% {
    background-position: 100% 0;
  }
}
@-webkit-keyframes gradient {
  50% {
    background-position: 100% 0;
  }
}

.diamond2 {
  position: absolute;
  width: 67.5px;
  height: 67.5px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  background: none;
  margin: 10px;
  box-shadow: 1px 4px 10px #101010;
}

.diamond {
  position: absolute;
  width: 67.5px;
  height: 67.5px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  background: #7CA735;
  margin: 10px;
  box-shadow: 1px 4px 10px #101010;
}

.diamond:active {
  background: #710b9e;
  box-shadow: 0px 1px 2.5px #101010;
  transition: 0.1s;
  -webkit-transition: 0.1s;
}

/*.popUp{
  text-align:center;
  border-radius:10px 0px;
  position:absolute;
  top:100px;
  left:330px;
  overflow:hidden;
  background:red;
  width:0px;
  max-width:100px;
}

.#nav1:hover + .popUp{
  width:100px;
}*/

.nav {
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

.mainbg{
  top: 0px;
  left: 300px;
}

.nav1 {
  top: 250px;
  left: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.nav2 {
  top: 330px;
  left: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.block_Thai {
  top: 235px;
  left: 670px;
}

.block_Tupi {
  top: 580px;
  left: 310px;
}

.block_Jap {
  top: 236px;
  left: 300px;
}

.block_Gn {
  top: 570px;
  left: 653px;
}

.block_Mbya {
  top: 900px;
  left: 300px;
}

.block_Ok {
  top: 900px;
  left: 653px;
}

.navUsage {
  top: 359px;
  left: 324px;
}

.usage_house{
  top: 350px;
  left: 324px;
}

#navDicionario{
  top: 10px;
  left: 400px;
  display: flex;
  justify-content: center;
  text-align: center;
}

#navAlphabet{
  top: 200px;
  left: 100px;
  width: 900px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.small {
  top: 186px;
  left: 236px;
  z-index: 10;
  background: #643fc1;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

.rotCorrect {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-left: 14px;
  margin-top: 8px;
}

#mainRotCorrect {
  margin-left: 26px;
  margin-top: 28px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  max-width: 90px;
}

.black_linguaap{
	/*border: 4px groove #ff6550;*/
	text-align: center;
	font-size: 35px;
	display: flex;
    justify-content: center;
}

.rhombus_usage{
	/*border: 4px groove #ff6550;*/
	text-align: center;
	font-size: 35px;
	display: flex;
    justify-content: center;
	margin-top: -45px;
}

.corpo p{
	font-size: 18px;
}

.bloco {
  position: absolute;
  width: 350px;
  height: 67.5px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin: 10px;
  /*box-shadow: 1px 4px 10px #101010;*/
}

.bloco2 {
  position: absolute;
  width: 600px;
  height: 67.5px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin: 10px;
  /*box-shadow: 1px 4px 10px #101010;*/
}



.alfabeto{
	color:blue;
	font-size: 35px;
	padding: 2px;
	border-radius: 10px;
	background-color: #eeeeee;
	border-bottom: 5px solid #cccccc;
}

.alfabeto1{
	color:blue;
	font-size: 35px;
	padding: 2px;
	border-radius: 10px;
	background-color: #EEAF28;
	border-bottom: 5px solid #cccccc;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 50%;
  font-size: 20px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

li {
  
  margin-bottom: 10px;
  text-align: left;
}


a{
	text-decoration:none;
	color:black;
}

/*
a:hover {
  font-weight: bold;
}
*/

.lista{
	font-size: 20px;
}

.txt_outline{
  font: 800 25px Arial;
  -webkit-text-fill-color: black;
}

.paragraph_tupi{
	background-color: #AFB7CB;
	border-radius: 10px;
	padding: 10px;
}

.paragraph_thai{
	background-color: #AFB7CB;
	border-radius: 10px;
	padding: 10px;
	padding-bottom: 40px;
}

.paragraph_jap{
	background-color: #AFB7CB;
	border-radius: 10px;
	padding: 10px;
}

.paragraph_ok{
	background-color: #AFB7CB;
	border-radius: 10px;
	padding: 10px;
	padding-bottom: 40px;
}

.dic_pages{
	background-color:#AFB7CB
}