/* ____________________________________________________________________________________________________ */
/* ●BODY COLOR */
/* ____________________________________________________________________________________________________ */
@font-face {
   font-family: myFirstFont;
   src: url(Andika-Regular.ttf);
}

/* JAPANESE */

@font-face {
   font-family: toJapanese-UD;
   src: url(UDDigiKyokashoN-R.ttc);
}

/* THAI */

@font-face {
   font-family: toThai-Sarabun;
   src: url(Sarabun-Regular.ttf);
}

/* LAO */

@font-face {
   font-family: toLao-Dhyana;
   src: url(Dhyana-Regular.ttf);
}

/* KHMER */

@font-face {
   font-family: toKhmer-Samsung;
   src: url(Samsung-Khmer-Regular.ttf);
}

/* VIETNAMESE */

@font-face {
   font-family: toVietnamese-ThuphapXuan;
   src: url(Thu_Phap_Thanh_Cong_Unicode.ttf);
}

/* TIBETAN */

@font-face {
   font-family: toTibetan-Wangdi;
   src: url(wangdi.ttf);
}

/* CHINESE */

@font-face {
   font-family: toChinese-Ngaan;
   src: url(ngaan.ttf);
}

/* KOREAN */

@font-face {
   font-family: toKorean-Hcho;
   src: url(cwTeXQKai-Medium.ttf);
}

body {
  background-color: black;
  font-family: myFirstFont;
  font-size: 18px;
  margin:0;
}

.tailandes{
	font-family: toThai-Sarabun;
	font-size: 28px;
}

.japones{
	font-family: toJapanese-UD;
	font-size: 28px;
}

.khmer{
	font-family: toKhmer-Samsung;
	font-size: 28px;
}

.vietnamese{
	font-family: toVietnamese-ThuphapXuan;
	font-size: 40px;
}

.tibetan{
	font-family: toTibetan-Wangdi;
	font-size: 38px;
}

.lao{
	font-family: toLao-Dhyana;
	font-size: 24px;
}

.chines{
	font-family: toChinese-Ngaan;
	font-size: 38px;
}

.coreano{
	font-family: toKorean-Hcho;
	font-size: 38px;
}


/* ____________________________________________________________________________________________________ */
/* ●FILTRA BUSCA */
/*
  background-image: url('/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
/* ____________________________________________________________________________________________________ */

.myInput {
  width: 50%;
  font-size: 24px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  border-radius: 50px / 15px;
  top:0;
  
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}

li {
	display:inline-block;
	font-size: 24px;
	background-color:#E3E7F7;
}

.ordem{
	
	display: list-item;
	list-style-position: inside;
	width: auto;
	height: auto;
	float:left;
	margin:0 5px;
	background-color::#E3E7F7;
	border-radius: 2px;
	padding:4px;
	margin-left: 1px;
	margin-bottom: 4px;
}

.ordem1{
	
	display: list-item;
	list-style-position: inside;
	width: auto;
	height: auto;
}

summary{
    list-style-type: '▼';
    color: black;
}

details[open] summary{
    list-style-type: '▲';
}

.detailcolorRed{
	list-style-type: '▼';
    color: red;
}


.detailcolorBlue{
	list-style-type: '▼';
    color: blue;
}

.detailcolorGreen{
	list-style-type: '▼';
    color: green;
}

.detailcolorPink{
	list-style-type: '▼';
    color: orange;
}

.detailcolorPurple{
	list-style-type: '▼';
    color: #901D78;
}

/* ____________________________________________________________________________________________________ */
/* ●Dimensões do iframe list-style-type: decimal; */ 
/* ____________________________________________________________________________________________________ */
.proportion {
      width:200px;
      height:420px;
	  resize: both;
	  border: none;
	  border-radius: 50px / 15px;
}

.proportion2 {
      width:200px;
      height:50px;
	  border: none;
	  border-radius: 5px;
}

.faixa{
	position: fixed;
    top:0;

}

/* ____________________________________________________________________________________________________ */
/* ●Formata Letra */
/* ____________________________________________________________________________________________________ */
.letra{
		font-family: Tahoma;
		font-size: 20px;
}

.resizable-content {
  width:200px;
  height:300px;
  border:none;
}

.casa {
  font-size: 80px;
}

a{
	text-decoration: none;
	color: blue;
}

/* ____________________________________________________________________________________________________ */
/* ●SIDEBAR  */
/* ____________________________________________________________________________________________________ */

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

/* ____________________________________________________________________________________________________ */
/* ●Dimensões do iframe de proportion */
/* ____________________________________________________________________________________________________ */
.proportion1 {
      width:95%;
      height:15000px;
	  border-style: solid;
	  border-radius: 50px / 15px;
}

/* ____________________________________________________________________________________________________ */
/* ●Mostrar esconder os códigos */
/* ____________________________________________________________________________________________________ */

.collapsible {
  background-color: #282A36;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: black;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #282A36;
  color:white;
}

/* ____________________________________________________________________________________________________ */
/* BLOCO DAS DIVS */
/* ____________________________________________________________________________________________________ */


.container {
    
	background-color: white;
	width: auto;
	height: 460px;
	border-radius: 15px;
	border-style: solid;
	border-color: #6F7179;
    padding: 5px;

  }
  
  button{
	  background-color: #AAC2FF; 
	  border: none; 
	  font-size: 15px;
  }
  
/*
.icon-bar {
  position: fixed;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}
*/

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}

table{
	width:100%;
}